@{
    ViewData["Title"] = "Temperature Monitor";
    //Min homepage med en basic design där det <p> taggen med id:et temperatureDisplay är den enda viktiga eftersom
    //det är den taggen min js fil använder sig av för att visa temperaturen.
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />



<body>
    <div class="container">
        <div class="card">

            <div id="temp-info">
                <h2>Temperature Monitor</h2>
                <p id="temperatureDisplay">Waiting for temperature data...</p>
            </div>

            <div class="footer">
            </div>
        </div>
    </div>
</body>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/signalr-client.js"></script>