

@{
    ViewData["Title"] = "Temperature Monitor";
}

<h2>Temperature Monitor</h2>
<p id="temperatureDisplay">Waiting for temperature data...</p>


    <script src="~/js/signalr/dist/browser/signalr.js" ></script>
<script src="~/js/signalr-client.js"></script>




